<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/beast2/src/beast/app/BeastMCMC.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<booleanAttribute key="org.eclipse.jdt.launching.ATTR_USE_START_ON_FIRST_THREAD" value="true"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="beast.app.BeastMCMC"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="-overwrite  ../../Software/beast/bin/SIMSNAPNETDATA/3SPEC1RET/TOPCHANGEThetaFIXED/A2B5C2/Theta0Pt05/10000Sites/test_3s_A2B5C2_10000Sites.xml"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="TanjaShort"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Djava.only=true"/>
</launchConfiguration>
